@media (min-width: 300px) {
  .date {
    font-size: 17px;
    line-height: 28px;
  }
}

@media (min-width: 576px) {
  .date {
    font-size: 18px;
    line-height: 29px;
  }
}

@media (min-width: 768px) {
  .date {
    font-size: 20px;
    line-height: 30px;
  }
}

.date {
  font-family: 'Montserrat';
  letter-spacing: 0px;
  color: var(--bs-danger);
}

.date {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
}

