@media (min-width: 300px) {
  li {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (min-width: 576px) {
  li {
    font-size: 17px;
    line-height: 29px;
  }
}

@media (min-width: 768px) {
  li {
    font-size: 19px;
    line-height: 30px;
  }
}

li {
  font-family: 'Montserrat';
  letter-spacing: 0px;
  color: var(--bs-dark);
  padding-top: 10px;
}

