.s-text {
  text-align: center;
  font-family: 'Quicksand';
  margin-bottom: 10px;
  margin-top: -5px;
}

@media (min-width: 300px) {
  .s-text {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .s-text {
    font-size: 16px;
  }
}

